.hero-image {
  height: 100vh;
  background-attachment: fixed;
  object-fit: cover;
}

.hero-image h1 {
  position: relative;
  width: 600px;
  font-size: 4.5em;
  font-weight: 600;
  color: white;
  top: 120px;
  margin: 0 0 0 20px;
}

p {
  margin: 0 0 20px 0;
}

.arrow-down {
  position: absolute;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  fill: white;
  opacity: 0.6;
  bottom: 0;
}

.arrow-down:hover {
  opacity: 1;
}

.grid {
  display: grid;
  padding: 60px 20px;
  grid-template:  [ab-anchor] 0px [about] auto [about-2] auto [in-anchor] 0px [instructions] auto [ca-anchor] 0px [catalog] auto [co-anchor] 0px [contact] auto / [header] 50px [header-end] 30% [middle] 60% [end];
  column-gap: 10px;
  row-gap: 40px;
}

#about-container {
  grid-row: about / in-anchor;
}

.title {
  display: flex;
  flex-direction: column nowrap;
  grid-column: header / header-end;
  position: relative;
  border-right: solid 0.5px;
}

.title h4 {
  writing-mode: vertical-rl;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.profile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.profile-card {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  background-color: white;
  box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.3);
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: -10px;
  z-index: 100;
}

.profile-card * {
  margin: 0
}

.profile-card p {
  font-size: 12px;
  color: #999;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.left {
    grid-column: header-end / middle;
}
.right {
  grid-column: middle / end;
}
.full {
  grid-column: header-end / end;
}

.item {
  flex: 1 1 200px;
  border: solid var(--color-one) 3px;
  margin: 0 15px 15px 0;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.2s;
}

.out {
  color: #bbb;
  border-color: #bbb;
}

.item-image {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.item-container {
  padding: 10px;
}

.item-container * {
  margin: 0;
}

.about {
  grid-row: about / about-2;
  color: var(--color-one);
}

.about2 {
  grid-row: about-2 / in-anchor;
  color: var(--color-one);
}

.about a, .instructions a {
  border-bottom-color: var(--color-one);
  background-color: #FF5F0011;
  transition: 0.3s;
}
.about a:hover, .instructions a:hover {
  background-color: #FF5F0044;
}

.anchor {
  margin-top: -80px;        /* Size of fixed header */
  padding-bottom: 80px;
  display: block;
}
#about.anchor {
    grid-row: ab-anchor / about;
}

.two-col {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.about2 h4 {
  margin: 0 0 0.5em 0;
}

.two-col h2 {
  font-weight: 300;
  flex: 0 1 75%;
  margin: 0 20px 0 0;
}

#action {
  flex: 1 20%;
  background-color: var(--color-one);
  border: solid 1px var(--color-one);
  border-radius: 10px;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 10px 5px;
  height: auto;
  transition: 0.2s;
}

#action:hover {
  background: none;
  color: var(--color-one);
}

.catalog {
  grid-row: catalog / co-anchor;
  display: flex;
  flex-flow: row wrap;
  color: var(--color-one);
}

.catalog.full {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#catalog.anchor {
    grid-row: ca-anchor / catalog;
}

.contact {
  grid-row-start: contact;
  color: var(--color-two);
}
#contact.anchor {
    grid-row: co-anchor / contact;
}

.contact a {
  border-bottom-color: #ffb0d6;
  background-color: rgba(255, 73, 161, 0.1);
  transition: 0.3s;
}
.contact a:hover {
  border-bottom-color: var(--color-two);
  background-color: #FF49A144;
}

.instructions {
  grid-row: instructions / ca-anchor;
  color: var(--color-one);
}
#instructions.anchor {
  grid-row: in-anchor / instructions;
}
.instructions li {
  font-weight: 400;
  font-size: inherit;
  margin-bottom: 10px;
  opacity: 1;
}
.instructions li a {
  opacity: 1;
}

.donate-section {
  background-color: var(--color-one);
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.donate-section h1 {
  margin: 0 20px 0 0;
}

.donate-btn svg {
  width: 15px;
  margin-right: 10px;
  fill: var(--color-one);
}

.donate-btn {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  background-color: white;
  border: solid white 1px;
  color: var(--color-one);
  fill: var(--color-one);
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.donate-btn:hover {
  color: white;
  fill: white;
  background-color: var(--color-one);
}

.grid a {
  text-decoration: none;
  border-bottom: solid 0.5px;
  color: inherit;
}

ul.mask-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

ul.mask-header li {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    border: solid var(--color-one) 1px;
    padding: 10px;
}

@media (max-width: 900px) {
    h1.hero-main {
      width: calc(100% - 40px);
      margin: 0;
      font-size: 4em;
      padding-left: 20px;
    }
    .grid {
      display: flex;
      flex-flow: column nowrap;
    }
    .title {
      border-right: 0;
      border-bottom: solid 1px;
      border-bottom-color: inherit;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
    .title h4{
      writing-mode: initial;
    }
    .right {
      margin-bottom: 30px;
    }
    .profile {
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
    }
    .profile-card {
      margin: 0 0 0 -20px;
    }
    .item {
      flex: 1 1 150px;
    }
    .anchor {
        margin-top: -100px;
        padding-bottom: 100px;
    }
    .about2 {
      margin-bottom: 20px;
    }
}

@media (max-width: 640px) {
  ul.mask-header {
    flex-flow: column nowrap;
  }
  ul.mask-header li {
    margin: 10px 0 0 0;
  }
}
