.outerHeader {
  color: white;
  fill: white;
  border-color: white;
  z-index: 1000;
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  transition: color 0.2s fill 0.2s background-color 0.2s border-color 0.2s;
}

.header {
  display: flex;
  color: inherit;
  width: 100%;
  margin: 20px;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: solid 2px;
  border-color: inherit;
  align-items: center;
}

.header-logo svg {
  fill: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  font-weight: 600;
  font-size: 20px;
  margin-left: 15px;
}

li a {
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
  transition: opacity 0.3s;
}

li a:hover {
  opacity: 1;
}

.link-active, .link-active a {
  opacity: 1;
  border-bottom: solid 3px;
  border-color: inherit;
}

.link-donate {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--color-one);
  border: solid var(--color-one);
  color: white;
  opacity: 1;
  transition: background-color 0.2s;
}

.link-donate:hover {
  color: var(--color-one);
  background-color: #00000000;
}

.active-about, .active-instructions, .active-catalog, .active-chapters {
  background-color: var(--color-background);
  color: var(--color-one);
  fill: var(--color-one);
  border-color: var(--color-one);
}

.active-contact {
  background-color: var(--color-background);
  color: var(--color-two);
  fill: var(--color-two);
  border-color: var(--color-two);
}

.header-menubtn {
  display: none;
  width: 30px;
  fill: inherit;
}
.header-menubtn svg {
  fill: inherit;
}
.header-menubtn:hover, .header-menubtn * {
  cursor: pointer;
}

@media (max-width: 900px) {
    .header-nav {
      position: fixed;
      visibility: hidden;
      top: 0; left: 0;
      width: 100vw;
      height: 100vh;
      align-items: center;
      justify-content: center;
      background-color: rgba(0,0,0, 0.5);
      flex-flow: column nowrap;
      font-size: 30px;
    }
    .link {
      font-size: 30px;
      margin-bottom: 10px;
    }
    .donate-wrapper {
      margin-top: 10px;
    }
    .header-nav.open {
      visibility: visible;
    }
    .header-menubtn {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 1000;
    }
    .header-menubtn span {
      width: 100%;
      font-size: 30px;
      padding-bottom: 5px;
    }
}
