.outerHeader {
  color: white;
  fill: white;
  border-color: white;
  z-index: 1000;
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  transition: color 0.2s fill 0.2s background-color 0.2s border-color 0.2s;
}

.header-sub * {
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.header-sub svg {
  -webkit-filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
}

.header {
  display: flex;
  color: inherit;
  width: 100%;
  margin: 20px;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: solid 2px;
  border-color: inherit;
  align-items: center;
  min-height: 60px;
}

.header-logo svg {
  fill: inherit;
}

.header-logo {
  display: flex;
  flex-flow: row nowrap;
  color: inherit;
  align-items: center;
  cursor: pointer;
  fill: inherit;
}

.chapter-links {
  display: flex;
  flex-flow: column nowrap;
}

.chapter-links li {
  margin: 3px 0 0 0;
  padding: 0 0 0 55px;
  pointer-events: auto;
}

.chapter-links a {
  opacity: 1;
  transition: 0.2s;
  width: 100%;
}

.chapter-links a:hover {
  color: var(--color-two);
}

.main-page-link {
  border-top: solid 1px;
  padding-top: 3px;
  border-color: inherit;
}

.logo-select.show {
  display: block;
}

.logo-select {
  box-shadow: 0 0 15px -5px rgba(0,0,0,0.4);
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--color-one);
  fill: var(--color-one);
  background-color: var(--color-background);
  border-radius: 10px;
}

.logo-select .header-logo {
  padding: 5px;
}

.logo-title {
  display: flex;
  flex-flow: column nowrap;
}

.header-logo h3, .header-logo p {
  font-weight: 600;
  margin: 0;
  line-height: 0.9;
  letter-spacing: -0.9px;
}

.header-logo h3 {
  font-size: 30px;
}

.icon {
  max-height: 60px;
  width: 55px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  font-weight: 600;
  font-size: 20px;
  margin-left: 15px;
}

li a {
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
  transition: opacity 0.3s;
}

li a:hover {
  opacity: 1;
}

.link-active, .link-active a {
  opacity: 1;
  border-bottom: solid 3px;
  border-color: inherit;
}

.link-donate {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--color-one);
  border: solid var(--color-one);
  color: white;
  opacity: 1;
  transition: background-color 0.2s;
}

.link-donate:hover {
  color: var(--color-one);
  background-color: #00000000;
}

.active-about, .active-instructions, .active-catalog, .active-chapters {
  background-color: var(--color-background);
  color: var(--color-one);
  fill: var(--color-one);
  border-color: var(--color-one);
}

.active-contact {
  background-color: var(--color-background);
  color: var(--color-two);
  fill: var(--color-two);
  border-color: var(--color-two);
}

.header-menubtn {
  display: none;
  width: 30px;
  fill: inherit;
}
.header-menubtn svg {
  fill: inherit;
}
.header-menubtn:hover, .header-menubtn * {
  cursor: pointer;
}

.active-to.index-header {
  fill: var(--color-one);
  color: var(--color-one);
  border-color: var(--color-one)
}

@media (max-width: 1000px) {
    .header-nav {
      position: fixed;
      visibility: hidden;
      top: 0; left: 0;
      width: 100vw;
      height: 100vh;
      align-items: center;
      justify-content: center;
      background-color: rgba(0,0,0, 0.5);
      flex-flow: column nowrap;
      font-size: 30px;
    }
    .link {
      font-size: 30px;
      margin-bottom: 10px;
    }
    .donate-wrapper {
      margin-top: 10px;
    }
    .header-nav.open {
      visibility: visible;
    }
    .header-menubtn {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 1000;
    }
    .header-menubtn span {
      width: 100%;
      font-size: 30px;
      padding-bottom: 5px;
    }
}
