.question-choice {
  margin: 0 0 1.5rem; box-sizing: border-box;
  display: flex; flex-flow: row nowrap;
  justify-content: flex-start; align-items: stretch;
}
.question-choice input {
  width: 0; height: 0; position: absolute; left: -9999px;
}
input + label {
	margin: 0; padding: .75rem 2rem; box-sizing: border-box;
	position: relative; display: inline-block;
	border: solid 1px var(--fuschia-bg);
	line-height: 140%; font-weight: 600; text-align: center;
	transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
  flex: 0 0 50%; display: flex; justify-content: center; align-items: center;
}

.question-choice &:first-of-type {border-radius: 6px 0 0 6px; border-right: none;}
.question-choice &:last-of-type {border-radius: 0 6px 6px 0; border-left: none;}

.question-choice input:hover + label {border-color: var(--fuschia-main)}
.question-choice input:checked + label {
	background-color: var(--fuschia-main);
	color: #FFF;
	border-color: var(--fuschia-main);
	z-index: 1;
}

textarea {
  height: 200px;
}

select option {
  background-color: var(--fuschia-main);
  color: white;
}
.dropdown-select select {
  width: 100%;
  background-color: white;
}

.mask-control {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  justify-content: space-between;
  border-top: solid 3px var(--fuschia-main);
  padding-top: 5px;
}
.mask-control p {
  margin: 0;
  align-self: flex-end;
}
.mask-control button {
  background-color: var(--fuschia-main);
  color: white;
  border: 0;
  font-size: inherit;
  border-radius: 5px;
  margin-right: 5px;
}
.mask-control button:active {
  color: var(--fuschia-main);
  background-color: white;
}
.mask-control button:focus {
  outline: 0;
}

input, textarea, select {
  border-radius: 5px;
  border: none;
  width: calc(100% - 10px);
  color: var(--fuschia-main);
  border: solid 1px white;
  padding: 5px;
  margin-bottom: 10px;
  font-size: inherit;
}

input:focus, textarea:focus {
  box-shadow: 0px 0px 20px -8px var(--fuschia-main));
  border: solid 1px var(--fuschia-main);
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: #D3BBCC;
}

.contactform {
  display: flex;
  flex-flow: column nowrap;
  font-size: 16px;
}

.submit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.submit button {
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  background-color: var(--fuschia-main);
  outline: none;
  border: none;
}
